# Dependencies
node_modules
.next
.out
coverage

# Build
build
dist
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment
.env
.env.local

# Logs
*.log

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.pytest_cache

# AWS
*.aws